<div id="<%= dom_id catageroy %>" style=" justify-content:between">
    <h5 style="margin-top:10px">
      <a href="/catageroys/<%= catageroy.id %>" style="text-decoration: none;"> <b style="color:yellow">|</b>
        <%= catageroy.name %>
      </a>
    </h5>
</div>
