<h1>Editing catageroy</h1>

<%= render "form", catageroy: @catageroy, url: admin_catageroy_path(@catageroy) %>

<br>

<div>
  
  <%= link_to "Back to catageroys", new_admin_catageroy_path %>
  
</div>
