<h1>Editing catageroy</h1>

<%= render "form", catageroy: @catageroy %>

<br>

<div>
  <%= link_to "Show this catageroy", @catageroy %> |
  <%= link_to "Back to catageroys", catageroys_path %>
</div>
